<h1>Enter your birthday</h1>
<h3>Find out who you're twinning with!</h3>
  <input type="number" min="1" max="31" step="1" name="day" placeholder="1" id="day_id">
  <select type="select" name="month" value="Month" id="month_id">
    <option value="january"> January </option>
    <option value="february"> February </option>
    <option value="march"> March </option>
    <option value="april"> April </option>
    <option value="may"> May </option>
    <option value="june"> June </option>
    <option value="july"> July </option>
    <option value="august"> August </option>
    <option value="september"> September </option>
    <option value="october"> October </option>
    <option value="november"> November </option>
    <option value="december"> December </option>
  </select>
  <input id="submit" type="submit" name="submit">
